@inherits BlazorLayoutComponent
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject AppState AppState

<MDCToolbar Style=@MDCToolbarStyle.Fixed>
    <MDCToolbarRow>
        <MDCToolbarSection Title=@AppState.Title
                           Icon=@AppState.ToolbarIcon Alignment=@MDCToolbarSectionAlignment.Start OnIconClick=@{ _ => UriHelper.NavigateTo("/")} />
    </MDCToolbarRow>
</MDCToolbar>
<main class="mdc-toolbar-fixed-adjust">
    @Body
</main>
