@inherits BlazorLayoutComponent
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject AppState AppState

<MDCTopAppBar Style=@MDCTopAppBarStyle.Fixed>
    <MDCTopAppBarRow>
        <MDCTopAppBarSection Title=@AppState.Title
                           Icon=@AppState.ToolbarIcon Alignment=@MDCTopAppBarSectionAlignment.Start OnIconClick=@{ _ => UriHelper.NavigateTo("/")} />
    </MDCTopAppBarRow>
</MDCTopAppBar>
<main class="mdc-top-app-bar--fixed-adjust">
    @Body
</main>
