@inherits MDCButtonComponent

@if (this.Type == MDCButtonType.Anchor)
{
    <a class=@ClassString onmousedown=@OnMouseDown onmouseup=@OnMouseUp onkeyup=@OnKeyUp onkeydown=@OnKeyDown onkeypress=@OnKeyPress disabled=@Disabled onclick=@OnClick href=@HRef>
        @ChildContent
    </a>
}
else
{
    <button class=@ClassString style=@Style onmousedown=@OnMouseDown onmouseup=@OnMouseUp onkeyup=@OnKeyUp onkeydown=@OnKeyDown onkeypress=@OnKeyPress disabled=@Disabled onclick=@OnClick>
        @ChildContent
    </button>
}
@{
    AddRipple();
}