@using Microsoft.AspNetCore.Blazor;
@using Microsoft.AspNetCore.Blazor.Components;

<div class="mdc-toolbar__row">
    @ChildContent
</div>

@functions {
    [Parameter]
    private RenderFragment ChildContent { get; set; }
}
