@using Microsoft.AspNetCore.Blazor;
@using Microsoft.AspNetCore.Blazor.Components;
@inherits BlazorMaterialComponent

<button onclick=@OnClick class=@( $"material-icons mdc-toolbar__icon {Class}" )>@Icon</button>

@functions{
    [Parameter]
    private string Icon { get; set; }
    [Parameter]
    private Action<UIMouseEventArgs> OnClick { get; set; }
}