@using Microsoft.AspNetCore.Blazor;

<button onclick=@OnClick class="material-icons mdc-toolbar__icon">@Icon</button>

@functions{
    public string Icon { get; set; }
    public Action<UIMouseEventArgs> OnClick { get; set; }
}