@using Microsoft.AspNetCore.Components;
@inherits BlazorMaterialComponent

@switch (Type)
{
    case MDCListItemMetaType.Default:
        <div onclick=@OnClick class=@( $"mdc-list-item__meta {Class}" )>
            @ChildContent
        </div>
        break;
    case MDCListItemMetaType.Icon:
        <a href=@HRef class=@( $"mdc-list-item__meta material-icons {Class}" )
           aria-label=@Title title=@Title
           onclick=@OnClick>
            @Source
        </a>
        break;
    case MDCListItemMetaType.Image:
        <a href=@HRef class=@( $"mdc-list-item__meta {Class}" )
           aria-label=@Title title=@Title
           onclick=@OnClick>
            <img src=@Source />
        </a>
        break;
}

@functions
{
    [Parameter]
    private MDCListItemMetaType Type { get; set; }
    [Parameter]
    private string Title { get; set; }
    [Parameter]
    private string Source { get; set; }
    [Parameter]
    private string HRef { get; set; }
    [Parameter]
    private EventCallback<UIMouseEventArgs> OnClick { get; set; }
    [Parameter]
    private RenderFragment ChildContent { get; set; }
}