@using Microsoft.AspNetCore.Blazor;
@using Microsoft.AspNetCore.Blazor.Components;

@if (Type == MDCListItemType.Anchor)
{
    <a href="@Href" role="listitem" class="mdc-list-item">
        @ChildContent
    </a>
}
else
{
    <div role="listitem" class="mdc-list-item">
        @ChildContent
    </div>
}

@functions{
    [Parameter]
    private MDCListItemType Type { get; set; }
    [Parameter]
    private RenderFragment ChildContent { get; set; }
    [Parameter]
    private string Href { get; set; }
}
