@using Microsoft.AspNetCore.Blazor.Components;

<span class="mdc-list-item__graphic">
    @if (Type == MDCListItemGraphicType.Image)
    {
        <img src="@Graphic" />
    }
    else
    {
        <i class="material-icons" aria-hidden="true">@Graphic</i>
    }
</span>

@functions{
    [Parameter]
    private MDCListItemGraphicType Type { get; set; }
    [Parameter]
    private string Graphic { get; set; }
}