@using Microsoft.AspNetCore.Blazor;
@using Microsoft.AspNetCore.Blazor.Components;

@switch (Type)
{
    case MDCListItemMetaType.Icon:
        <a href=@Href class="mdc-list-item__meta material-icons"
           aria-label=@Title title=@Title
           onclick=@OnClick>
            @Source
        </a>
        break;
    case MDCListItemMetaType.Image:
        <a href=@Href class="mdc-list-item__meta"
           aria-label=@Title title=@Title
           onclick=@OnClick>
            <img src=@Source />
        </a>
        break;
}

@functions
{
    [Parameter]
    private MDCListItemMetaType Type { get; set; }
    [Parameter]
    private string Title { get; set; }
    [Parameter]
    private string Source { get; set; }
    [Parameter]
    private string Href { get; set; }
    [Parameter]
    private Action<UIMouseEventArgs> OnClick { get; set; }
}