@using Microsoft.AspNetCore.Blazor;

@if (Type == MDCListItemType.Anchor)
{
    <a href="@Href" role="listitem" class="mdc-list-item">
        @ChildContent
    </a>
}
else
{
    <div role="listitem" class="mdc-list-item">
        @ChildContent
    </div>
}

@functions{
    public MDCListItemType Type { get; set; }
    public RenderFragment ChildContent { get; set; }
    public string Href { get; set; }
}
