@using Microsoft.AspNetCore.Components;
@inherits BlazorMaterialComponent

<li class=@( $"mdc-list-item {Class} {_dividerClass}" ) onclick="@OnClick">
    @ChildContent
</li>

@functions{
    [Parameter]
    private EventCallback<UIMouseEventArgs> OnClick { get; set; }
    [Parameter]
    private bool Divider { get; set; }
    [Parameter]
    private bool Inset { get; set; }
    [Parameter]
    private RenderFragment ChildContent { get; set; }

    private string _dividerClass = "";

    protected override void OnInit()
    {
        var divider = Divider ? "mdc-list-divider" : "";
        var inset = Inset ? "mdc-list-divider--inset" : "";
        _dividerClass = $"{divider} {inset}";
    }
}
