@using Microsoft.AspNetCore.Blazor;
@using Microsoft.AspNetCore.Blazor.Components;
@inherits BlazorMaterialComponent

<h3 class=@( $"mdc-list-group__subheader {Class}" )>@ChildContent</h3>

@functions{
    [Parameter]
    private RenderFragment ChildContent { get; set; }
}
