@using Microsoft.AspNetCore.Blazor;
@using Microsoft.AspNetCore.Blazor.Components;
@inherits BlazorMaterialComponent

<div class=@( $"mdc-top-app-bar__row {Class}" )>
    @ChildContent
</div>

@functions {
    [Parameter]
    private RenderFragment ChildContent { get; set; }
}
