@using Microsoft.AspNetCore.Components
@inherits BlazorMaterialComponent

<nav class=@( $"mdc-list {Class}" )>
    @ChildContent
</nav>

@functions{
    [Parameter]
    private RenderFragment ChildContent { get; set; }
}

